a, h1, h2, h4   { color: #377ba8; }
h1, h2, h4    { font-family: 'Verdana', serif; margin: 0; }
p { font-family: 'Verdana', serif; font-size: 0.8em; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
p               { }
input[type="text"] { margin: 0.5em 0.8em;  }
textarea         { margin: 0.5em 0.8em;  }
select           { margin: 0.5em 0.8em;  }

.flash          { background: #50DB6B; padding: 10px 5px; margin: 10px 0px; color: #225E2E;
                  border: 1px solid #225E2E; border-radius: 10px;}
.error          { background: #f0d6d6; padding: 0.5em; }