{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('update_message') }}" method=post>
    <input type="hidden" name="email" value="{{ email }}">
    <h4>Your Existing Message:</h4>
    <textarea style="background-color: #C0CBC2;" name="old_message" rows="3" cols="60" disabled>{{ message }}</textarea>

    <h4>Make Edits Here:</h4>
    <textarea name="message" rows="3" cols="60" maxlength="120" placeholder="Whatever text you submit from this box will REPLACE the above existing message!"></textarea><br>
    <button type="submit" class="pure-button pure-button-primary">Submit Edits</button>
    <a class="pure-button pure-button-primary" href="/delete/{{email}}">Delete & Start Over</a>
</form>
{% endblock %}