{% extends "layout.html" %}
{% block body %}
<br>

<h3>Messages Received by Teacher</h3>
<table class="pure-table">
    <thead>
    <th>Evans</th>
    <th>Kellogg</th>
    <th>Krumpeck</th>
    <th>Other</th>
    </thead>
    <tbody>
    <tr>
        <td>{{ teacher_count.evans}}</td>
        <td>{{ teacher_count.kellogg}}</td>
        <td>{{ teacher_count.krumpeck}}</td>
        <td>{{ teacher_count.other}}</td>
    </tr>
    </tbody>
</table>
<h3 style="margin-bottom: 3px;">Full Message Data</h3>
<a style="font-size: 0.85em;" href="/marcey_report_raw">Generate Data for Excel</a>
<table class="pure-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Student</th>
        <th>Parent</th>
        <th>Email</th>
        <th>Teacher</th>
        <th>Message</th>
        <th>Questions</th>
    </tr>
    </thead>
    {% for entry in entries %}
    <tbody>
    <tr>
        <td>{{ entry['id'] }}</td>
        <td>{{ entry['student'] }}</td>
        <td>{{ entry['parent'] }}</td>
        <td>{{ entry['email'] }}</td>
        <td>{{ entry['teacher'] }}</td>
        <td>{{ entry['message'] }}</td>
        <td>{{ entry['comments'] }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}